.header {
	position: fixed;
	right: 25px;
	top: 30px;
	z-index: 998;
	.menu {
		width: 480px;
		height: 650px;
		background: #c7d2fe;
		overflow: hidden;
		border-radius: 25px;
		position: relative;
	}
}

@media only screen and (max-width: 768px) {
	.header {
		position: fixed;
		right: 15px;
		top: 20px;
		z-index: 998;
		.menu {
			width: 280px;
			height: 650px;
			background: #c7d2fe;
			overflow: hidden;
			border-radius: 25px;
			position: relative;
		}
	}
}
